<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Welcome to Homepage!</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Welcome to homepage</h1>
            <h2>go to /form-name-view to fill out the form</h2>
        </div>
    </div>


</body>
</html>